<div class="container">
  <div class="row">
      <div class="column">
        <div class="card">
            <img src="assets\images\mob.jpg" width="230px" height="300px">
            <p>Mobiles</p>
            <a href="cart" class="btn btn-info" role="button">Add to Cart</a>
            <a href="#" class="btn btn-info" role="button">Buy Now</a>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="assets\images\lap.jpg" width="230px" height="300px">
          <p>Laptops</p>
          <a href="cart" class="btn btn-info" role="button">Add to Cart</a>
            <a href="#" class="btn btn-info" role="button">Buy Now</a>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="assets\images\tab.jpg"width="230px" height="300px">
          <p>Tablets</p>
          <a href="cart" class="btn btn-info" role="button">Add to Cart</a>
          <a href="#" class="btn btn-info" role="button">Buy Now</a>
        </div>
      </div>
    
    </div>
    </div>
