<section class="product-shop spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
              <div class="filter-widget">
                  <h4 class="fw-title">Categories</h4>
                  <!-- <ul class="filter-catagories">
                        <li><a routerLink="/subcategory-mens">Men</a></li>
                        <li><a routerLink="/subcategory-womens">Women</a></li>
                        <li><a routerLink="/subcategory-kids">Kids</a></li>
                    </ul> -->
              </div>
          </div>
          <div class="col-lg-9 order-1 order-lg-2">
              <div class="product-list">
                  <div class="row">
                      <div class="col-lg-4 col-sm-6">
                          <div class="product-item">
                              <div class="pi-pic">
                                  <img src="assets\mob.jpg" width="100%" height="100%" alt="">
                                  <!-- <div class="sale pp-sale">western Wear</div> -->
                                  <div class="icon">
                                      <i class="icon_heart_alt"></i>
                                  </div>
                                  <ul>
                                      <div class="catagory-name">Mobile</div>
                                      <li class="quick-view"><a routerLink="/subcategory">Go</a></li>

                                  </ul>
                              </div>

                          </div>
                      </div>
                      <br>
                       <div class="col-lg-4 col-sm-6"> 
                          <div class="product-item">
                              <div class="pi-pic">
                                  <img src="assets\images\earphones.jpg" width="120%" height="120%" alt="">
                                  <div class="icon">
                                      <i class="icon_heart_alt"></i>
                                  </div>
                                  <ul>
                                      <div class="catagory-name">Tab</div>
                                      <li class="quick-view"><a routerLink="/subcategory">Go</a></li>
                                  </ul>
                              </div>
                              <div class="pi-text">

                                  <!-- <a href="#">
                                        <h5>Kids Shoes</h5>
                                    </a> -->
                              </div>
                          </div>
                      </div> 
                      <br>
                      <!-- <div class="col-lg-4 col-sm-6"> -->
                          <div class="product-item">
                              <div class="pi-pic">
                                  <img src="assets\images\pendrive.jpg" width="30%" height="30%" alt="">
                                  <div class="icon">
                                      <i class="icon_heart_alt"></i>
                                  </div>
                                  <ul>
                                      <div class="catagory-name">pendrive</div>
                                      <li class="quick-view"><a routerLink="/subcategory">Go</a></li>
                                  </ul>
                              </div>
                              <div class="pi-text">
                                  <!-- <div class="catagory-name">Accessories</div>
                                    <a href="#">
                                        <h5>Guangzhou sweater</h5>
                                    </a> -->
                              </div>
                          </div>
                      <!-- </div> -->
                      
                      <div class="col-lg-4 col-sm-6">
                          <div class="product-item">
                              <div class="pi-pic">
                                  <img src="assets\images\tab.jpg" width="120%" height="120%" alt="">
                                  <div class="icon">
                                      <i class="icon_heart_alt"></i>
                                  </div>
                                  <ul>
                                      <div class="pi-text">
                                          <div class="catagory-name">Tab</div>

                                      </div>
                                      <li class="quick-view"><a routerLink="/subcategory">GO</a></li>
                                  </ul>
                              </div>

                          </div>
                      </div>
                      <!-- <div class="col-lg-4 col-sm-6">
                          <div class="product-item">
                              <div class="pi-pic">
                                  <img src="assets\wbottom.jpg" width="100%" height="100%" alt="">
                                  <div class="icon">
                                      <i class="icon_heart_alt"></i>
                                  </div>
                                  <ul>
                                      <div class="pi-text">
                                          <div class="catagory-name">leggings</div>
                                      </div>
                                      <li class="quick-view"><a routerLink="/subcategory">GO</a></li>
                                  </ul>
                              </div>

                          </div>
                      </div> -->
                      <!-- <div class="col-lg-4 col-sm-6">
                          <div class="product-item">
                              <div class="pi-pic">
                                  <img src="assets\images\mens3.jpg" width="110%" height="120%" alt="">
                                  <div class="icon">
                                      <i class="icon_heart_alt"></i>
                                  </div>
                                  <ul>
                                      <div class="pi-text">
                                          <div class="catagory-name">Shoes</div>

                                      </div>
                                      <li class="quick-view"><a routerLink="/subcategory">GO</a></li>
                                  </ul>
                              </div>

                          </div>
                      </div> -->
                      <!-- <div class="col-lg-4 col-sm-6">
                          <div class="product-item">
                              <div class="pi-pic">
                                  <img src="assets\images\blazer.jpg" width="100%" height="100%" alt="">

                                  <div class="icon">
                                      <i class="icon_heart_alt"></i>
                                  </div>
                                  <ul>
                                      <div class="pi-text">
                                          <div class="catagory-name">Blazer</div>

                                      </div>
                                      <li class="quick-view"><a routerLink="/subcategory">GO</a></li>
                                  </ul>
                              </div>

                          </div>
                      </div> -->
                      <!-- <div class="col-lg-4 col-sm-6">
                          <div class="product-item">
                              <div class="pi-pic">
                                  <img src="assets\images\kid.jpg" width="100%" height="100%" alt="">
                                  <div class="icon">
                                      <i class="icon_heart_alt"></i>
                                  </div>
                                  <ul>
                                      <div class="pi-text">
                                          <div class="catagory-name">Kids</div>

                                      </div>
                                      <li class="quick-view"><a routerLink="/subcategory">GO</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div> -->
                      <!-- <div class="col-lg-4 col-sm-6">
                          <div class="product-item">
                              <div class="pi-pic">
                                  <img src="assets\images\sweater.jpg" width="60%" height="60%" alt="">
                                  <div class="icon">
                                      <i class="icon_heart_alt"></i>
                                  </div>
                                  <ul>
                                      <div class="pi-text">
                                          <div class="catagory-name">Sweater</div>

                                      </div>
                                      <li class="quick-view"><a routerLink="/subcategory">GO</a></li>
                                  </ul>
                              </div>

                          </div>
                      </div> -->
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>
<!-- Product Shop Section End -->