<div class="container">
    <div class="row">
        <div class="column">
          <div class="card">
              <img src="assets/images/ktop.jpg" width="230px" height="300px">
              <b>Top Wear</b>
              <b> Rs.600/-</b>
              <a href="cart" class="btn btn-info" role="button">Add to Cart</a>
              <a href="#" class="btn btn-info" role="button">Buy Now</a>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <img src="assets/images/kbottom.jpg" width="230px" height="300px">
            <b>Bottom Wear</b>
            <strong>Rs.560/-</strong>
            <a href="cart" class="btn btn-info" role="button">Add to Cart</a>
            <a href="#" class="btn btn-info" role="button">Buy Now</a>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <img src="assets/images/kfoot.jpg"width="230px" height="300px">
            <b>Foot Wear</b>
            <b>Rs.670/-</b>
            <a href="cart" class="btn btn-info" role="button">Add to Cart</a>
              <a href="#" class="btn btn-info" role="button">Buy Now</a>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <img src="assets/images/kimage.jpg"width="230px" height="300px">
            <b>Toys</b>
            <b>Rs.670/-</b>
            <a href="cart" class="btn btn-info" role="button">Add to Cart</a>
              <a href="#" class="btn btn-info" role="button">Buy Now</a>
          </div>
        </div>
      </div>
      </div>


