<h2>Employee</h2>
<a routerLink='addEmp'>New Employee</a>
<p *ngIf='!emps && !errMsg'> Loading.. please wait</p>
<p *ngIf='errMsg'>{{errMsg}}</p>


<table *ngIf='emps' cellspacing='10' cellpadding='10'>
    <thead>
        <tr>
        <th>Emp#</th>
        <th>Name</th>
        <th>Joined on</th>
        <th>Basic</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Department</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of emps">
            <td> {{e.empId}}</td>
            <td>{{e.firstName}} {{e.lastName}}</td>
            <td>{{e.joinDate|date:'dd-MM-yyyy'}}</td>
            <td>{{e.basic}}</td>
            <td>{{e.moblieNumber}}</td>
            <td>{{e.email}}</td>
            <td>{{dept}}</td>
            <td><a href="#" (click)="delete(e.empId)">DELETE</a>&nbsp;
            <span></span>
            <a routerLink="edit/{{e.empId}}">EDIT</a>
            </td>
        </tr>
    </tbody>
</table>