

         <html>
           <div class="bg-img">
         <div class="container-fluid col-md-6">
           <h3>PRODUCTS</h3>
           <form>
             <div class="form-group">
               <label class="col-sm-4 control-label" width="10%">Category</label>
               <input type="text" class="form-control input-sm"  placeholder="category">
             </div>
             <div class="form-group">
               <label class="col-sm-4 control-label">Sub Category</label>
               <input type="number" class="form-control input-sm" placeholder="Sub Category">
                
             </div>
             <div class="form-group">
              <label class="col-sm-4 control-label">Items</label>
              <input type="number" class="form-control input-sm" placeholder="Items">
               
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Price</label>
              <input type="number" class="form-control input-sm" placeholder="Price">
               
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Discount</label>
              <input type="number" class="form-control input-sm" placeholder="Discout">
               
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Quantity</label>
              <input type="number" class="form-control input-sm" placeholder="Quantity">
               
            </div>
            <span>
            <div class="row">
             <div class="col-sm-12 text-center">
            <button class="btn btn-primary"  style="width :100px" type="submit">ADD</button>&nbsp;
            <button class="btn btn-primary" type="submit">DELETE</button>&nbsp;
            <button class="btn btn-primary" type="submit">EDIT</button>
            </div>
          </div>
          </span>
          
           </form>
         </div>
         </div>
         </html>