


<html>
<div class="bg-img">
<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Sign up</p>
        <input type="text" id="FirstName" class="form-control mb-4" placeholder="First name">
       <br>
        <input type="text" id="LastName" class="form-control mb-4" placeholder="Last name">
        <br>
        
    

    
    <input type="email" id="Email" class="form-control mb-4" placeholder="E-mail" ng-required="true">
    <br>
    
    <input type="password" id="Password" class="form-control" placeholder="Password" aria-describedby="dPassword">
    <small id="dPassword" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
    </small>

  
    <input type="text" id="PPassword" class="form-control" placeholder="Phone number" aria-describedby="Phoneh">
    <small id="Phoneh" class="form-text text-muted mb-4">
        Optional - for two step authentication
    </small>


    <button class="btn btn-info my-4 btn-primary" type="submit" onclick="login">Sign in</button>


</form>
</div>

</html>
