
<div class="container">
    <div class="row">
        <div class="column">
          <div class="card">
              <img src="assets/images/top.jpg" width="230px" height="300px">
              <b>Top Wear</b>
              <b> Rs.500/-</b>
              <a href="cart" class="btn btn-info" role="button">Add to Cart</a>
              <a href="#" class="btn btn-info" role="button">Buy Now</a>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <img src="assets/images/bottom.jpg" width="230px" height="300px">
            <b>Bottom Wear</b>
            <strong>Rs.2000/-</strong>
            <a href="cart" class="btn btn-info" role="button">Add to Cart</a>
            <a href="#" class="btn btn-info" role="button">Buy Now</a>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <img src="assets/images/foot.jpg"width="230px" height="300px">
            <b>Foot Wear</b>
            <b>Rs.3000/-</b>
            <a href="cart" class="btn btn-info" role="button">Add to Cart</a>
              <a href="#" class="btn btn-info" role="button">Buy Now</a>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <img src="assets/images/tshirt.jpg"width="230px" height="300px">
            <b>T Shirts</b>
            <b>Rs.2500/-</b>
            <a href="cart" class="btn btn-info" role="button">Add to Cart</a>
              <a href="#" class="btn btn-info" role="button">Buy Now</a>
          </div>
        </div>
      
      </div>
      </div>
