.bg-img{
  background-image: url("src\assets\pwd1.jpg");
  align-self: right;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }