
<div class="container">
  <div class="row">
      <div class="column">
        <div class="card">
            <img src="assets\images\glass.jpg" width="230px" height="300px">
            <p>Glass</p>
            <a href="cart" class="btn btn-info" role="button">Add to Cart</a>
            <a href="#" class="btn btn-info" role="button">Buy Now</a>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="assets\images\wood.jpg" width="230px" height="300px">
          <p>Wood</p>
          <a href="cart" class="btn btn-info" role="button">Add to Cart</a>
            <a href="#" class="btn btn-info" role="button">Buy Now</a>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="assets\images\plastic.jpg"width="230px" height="300px">
          <p>Plastic</p>
          <a href="cart" class="btn btn-info" role="button">Add to Cart</a>
          <a href="#" class="btn btn-info" role="button">Buy Now</a>
        </div>
      </div>
    
    </div>
    </div>
